<div class="auth-page">
  <div class="auth-card">
    <h1>Criar conta</h1>
    <p class="subtitle">Comece a organizar suas tarefas.</p>

    <form [formGroup]="form" (ngSubmit)="registrar()">
      <label>Nome</label>
      <input type="text" formControlName="nome" />

      <label>Email</label>
      <input type="email" formControlName="email" />

      <label>Senha</label>
      <input type="password" formControlName="senha" />

      <button type="submit">Cadastrar</button>
    </form>

    <p class="link-text">
      Já tem conta?
      <a routerLink="/login">Entrar</a>
    </p>
  </div>
</div>
